@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}
body {
  @apply h-full;
}
main {
  @apply h-full;
}

li::before {
    content: '> ';
    visibility: hidden;
}

li:hover::before {
    visibility: visible;
}

